body{
	background-image: url(../img/bg.jpg);
	background-size: 100% 120%;
}
nav{
	width: 1000px; /* Spans the width of the page */
	height: 50px; 
	margin: 0; /* Ensures there is no space between sides of the screen and the menu */
	z-index: 99; /* Makes sure that your menu remains on top of other page elements */
	position: relative; 
	padding: 0px;
}
nav li{
	position: relative;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	z-index: 10;
	height: auto;
	width: 180px;  /* Each menu item is 150px wide */
	float: left;  /* This lines up the menu items horizontally */
	text-align: center;  /* All text is placed in the center of the box */
	list-style: none;  /* Removes the default styling (bullets) for the list */
	font: normal bold 12px/1.2em Arial, Verdana, Helvetica;  
	padding: 0;
	margin: 0;
	background-color: #366b82;
}
nav a{
	padding: 18px 0;  /* Adds a padding on the top and bottom so the text appears centered vertically */
	border-left: 1px solid #54879d; /* Creates a border in a slightly lighter shade of blue than the background.  Combined with the right border, this creates a nice effect. */
	border-right: 1px solid #1f5065; /* Creates a border in a slightly darker shade of blue than the background.  Combined with the left border, this creates a nice effect. */
	text-decoration: none;  /* Removes the default hyperlink styling. */
	color: white; /* Text color is white */
	display: block;
}
nav li:hover, a:hover {
	background-color: #54879d;} 
nav li ul{
	display: none;  /* Hides the drop-down menu */
	height: auto;									
	margin: 0; /* Aligns drop-down box underneath the menu item */
	padding: 0; /* Aligns drop-down box underneath the menu item */				
}
nav li:hover ul{
    display: block; /* Displays the drop-down box when the menu item is hovered over */
}
nav li ul li {
	background-color: #54879d;} 
nav li ul li a 	{
	border-left: 1px solid #1f5065; 
	border-right: 1px solid #1f5065; 
	border-top: 1px solid #74a3b7; 
	border-bottom: 1px solid #1f5065; 
}
nav li ul li a:hover{background-color: #366b82;}

#outercontainer{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#header{
	
	height: 70px;
	font-family:  STKaiti;
	font-size: 23pt;
	color: #FFFF00;
	padding-top: 20px;
	padding-left: 50px;
	padding-bottom: 0px;
}
#main{
	position: absolute;
	width: 800px;
	height: 200px;
	font-size: 14pt;
	padding-top: 100px;
	text-align: center;
}
#extra{
	position: relative;
	width: 1000px;
	height: 100px;
}